.header-title{
    color:#62D375;
    text-align: center;
    margin: 65px 0 5px 0;
}

.header-title-a{
    width: 0px;
    height: 0px;
}

.header-title-img{
    margin: 65px 0 15px 160px;
    width: 180px;
    height: 35px;
}

.container{
    display:grid;
    grid-template-rows: auto;
}

.container-item{
    width: 500px;
    margin: 0 auto;
}

.service{
    display: flex;
    flex-direction: row;
}

.service-left{
    flex: none;
    margin-right: auto;
}

.service-right{
    flex: none;
    margin-left: auto;
}

.service-item-image{
    width: 13px;
    height: 13px;
}

.search{
    display: flex;
    width: 550px;
    margin: auto;
    border: 1px solid #62D375;
    border-radius: 5px;
}

.search-input{
    flex-grow: 1;
    margin-left: 3px;
}

.search-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 109px;
    margin: 0px;
    padding: 0px;
}

.search-list > li{
    flex: 33;
    list-style: none;
}

.search-box-item{
    margin-top: 9px;
}

.search-box-item-image{
    width: 25px;
    height: 25px;
    margin-top: 8px;
    margin-left: 6px;
}

.input-box{
    border: 0;
    width: 95%;
    font-size: 20px;
    padding: 10px;
}

.input-box::placeholder{
    color: lightgray;
}

.pan{
    width: 440px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 90px;
}

.pan > li{
    width: 110px;
}

.pan-div{
    padding: 10px;
}

.pan > li > div > a{
    width: 45px;
    font-size: 8px;
    text-decoration: none;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pan > li >  div > a > img{
    width: 45x;
    height: 45px;
}

#pan-service{
    width: 30x;
    height: 30px;
    margin: 8px;
}

.pan > li >  div > a> div{
    text-align: center;
}

.article{
    border-radius: 2px;
    border: 0.1px solid #f4f6fb;
    padding: 8px 0 8px 12px;
    margin-bottom: 8px;
}

.weather-now{
    display: flex;
    flex-direction: row;
}

.w-n-left{
    flex: 6;
    display: flex;
}

.w-n-right{
    width: 150px;
    display: flex;
    overflow: hidden;
}

.w-n-item{
    margin: 8px 0 0 8px;
}

.w-n-icon{
    width: 30px;
    height: 30px;
    margin-top: 1px;
}

.w-n-font{
    font-size: 13px;
    margin: 0px;
    color: gray;
}

.w-n-now-font{
    color: black;
    font-size: 8px;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
}

.w-n-now-icon{
    margin-top: 5px;
    width: 42px;
    height: 12px;
}

.weather-header{
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.weather-header-item{
    margin: 5px 0 0 5px;
}

.weather-header-item1{
    margin: 0 0 0 5px;
    height: 15px;
}

.w-h-left{
    flex:14;
    display: flex;
    align-items: flex-end;
}
.w-h-right{
    flex:1;
    margin-right: auto;
}

.w-h-r-img{
    width: 14px;
    height: 12px;
}

.weather-location{
    font-size: 11px;
    text-align: bottom;
    color: lightslategray;
}

.weather-location-img{
    width: 12px;
    height: 12px;
}

.weather-category{
    height: 50px;
}

.weather-category > ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
    margin-top: 15px;
}

.weather-category > ul > li{
    margin: 3px;
}

.weather-category > ul > li > a{
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    padding:8px;
    text-decoration: none;
    color: rgb(111, 113, 119);
    background-color: #f4f6fb;
}

#weather-selected{
    background-color: rgb(123, 149, 200);
    color: white;
}

.weather-weekly{

}

.weather-weekly > ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
}

.weather-weekly > ul > li{
    margin: 3px 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.weather-weekly > ul > li > span{
    font-size: 15px;
    color: rgb(69, 73, 76);
}

.weather-weekly > ul > li > div{
    width:40px;
    font-size: 13px;
    color:rgb(111, 113, 119)
}

.weather-weekly > ul > li > div > img{
    width: 20px;
    height: 20px;
    margin: 8px 0;
}

.w-w-vertical{
    margin: 3px 0;
    color: rgb(113, 139, 190);
}

#weekly-selected{
    border-radius: 15px;
    background-color: rgb(121, 123, 130);
    color: white;
}

.covid{
    display: flex;
    flex-direction: row;
}

.covid > a{
    padding-top: 6px;
    flex: 50%;
    text-decoration: none;
}

.covid > a > div{
    display: flex;
    align-items: center;
}

.covid > a > div > img{
    width: 20px;
    height: 20px;
}

.covid > a > div > span{
    font-size: 14px;
    font-weight: 700;
    margin-left: 3px;
    color:black;
}

.covid > a > div > div{
    margin-top: 2px;
    font-size: 12px;
    font-weight: 500;
    color:rgb(111, 113, 119)
}

#covid-center{
    flex: 2%;
    margin: 8px 0;
    border-left: 1px solid lightgray;
}

.holiday{
    padding: 10px;
}

.holiday > a{
    text-decoration: none;
    color:rgb(111, 113, 119);
}

.holiday > a > div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.holiday > a > div > img{
    width: 25px;
    height: 25px
}

.holiday > a > div > span{
    margin-left: 3px;
    font-weight: 500;
}

.holiday > a > div > div{
    margin-left: 4px;
    font-weight: 800;
}

.app{
    display: flex;
    font-size: 12px;
}

.a-left{
    flex: 8;
    display: flex;
    align-items: center;
    padding: 6px 6px 6px 0;
}

.a-left > img{
    width: 30px;
    height: 30px;
}

.a-left > div{
    font-weight: 350;
    color:lightslategray;
    margin-left: 8px;
}

.a-left > div > span{
    color:black;
    font-weight: 700;
}

.a-right{
    padding: 6px;
}

.a-right > a{
    font-weight: 500;
    color: rgb(96 ,152, 217);
    text-decoration: none;
 }

 .a-right > a > div{
     padding: 8px;
     border-radius: 2px;
     border: 1px solid rgb(96, 152, 217);
 }

 .webtoon{
    display: flex;
 }

.wt-text{
    flex: 14;
    font-weight: 700;
}

 .wt-button{
     flex: 1;
 }

 .wt-button > a > img{
    width: 14px;
    height: 12px;
    transform: rotate(180deg);
 }

 .a-pan{
    color:rgb(69, 73, 76);
    font-size: 14px;
 }

 .a-pan-header{
     padding-top: 5px;
    display: flex;
 }

 .a-pan-header-left{
    flex: 8;
    color: black;
    font-size: 16px;
    font-weight: 700;
 }

 .a-pan-header-right{
    flex: 1;
 }

 .a-pan-select{
     padding: 0;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     list-style: none;
 }

 .a-pan-select > a{
    width: 48%;
    text-decoration: none;
    color: rgb(69, 73, 76);
    margin: 0 5px 5px 0;
    background-color: rgb(245, 247, 259);
 }

 .a-pan-select > a > li{
     padding: 10px;
     display: flex;
     align-items: center;
 }

 .a-pan-select > a > li > div{
    flex: 14;
    display: flex;
    align-items: center;
 }

 .a-pan-icon{
    margin: 0 8px;
    width: 22px;
    height: 22px;
 }

 .arrow-right{
    flex: 1;
    width: 13px;
    height: 11px;
    transform: rotate(90deg);
 }

 .notice{
     display: flex;
     align-items: center;
     font-weight: 500;
     color: rgb(111, 113, 119);
 }

 .a-notice-box{
    padding: 3px 6px 2px 8px;
    font-size: 12px;
    color: #62D375;
    border: 1px solid #62D375;
    border-radius: 20px;
 }

.a-notice-text{
    font-size: 13px;
    margin: 10px 235px 10px 10px;
}

.footer{
    padding: 40px 0 40px 0;
}

.footer > div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    font-size: 13px;
    font-weight: 500;
}

.footer > div > a{
    padding: 0 5px;
    color: #929294;
    text-align: center;
    text-decoration: none;
}

.footer-center{
    border-left: 0.1px solid #929294;
    border-right: 0.1px solid #929294;
}

.weight{
    font-weight: 700;
}

.footer-logo{
    margin: 10px;
    font-size: 24px;
    font-weight: 800;
}