.layout {
  margin: 0;
  display: grid;
  grid-template-columns: 150px min-content;
  grid-template-rows: 30px min-content;
}

.explorer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;

  padding: 5px;
  border: 1px solid red;
}

.tabbar {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  padding: 5px;
  border: 1px solid blue;
}

.notepad {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;

  padding: 5px;
  border: 1px solid green;
}
